.header{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.header-logo{
    height: 27px;
    max-width: 140px;
    margin-right: 24px;
}

.header-right{
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    height: 72px;
}

.header-location-search-container{
    height: 54px;
    display: flex;
    align-items: center;
    border-radius: 8px ;
    box-shadow: var(--primary-box-shadow);
    border: 1px solid var(--border-white);
    width:70%;
    background-color: var(--primary-bg);
}

.location-wrapper{
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 0px 10px;
}

.location-icon-name{
    display: flex;
    color: var(--zomato-gray);
}


.location-icon{
    color: var(--zomato-red);
    font-size: 20px;
    margin-right: 8px;
    
}

.location-search-separator{
    height: 20px;
    border:0.5px solid var(--gray);
}

.header-searchbar{
     display: flex;
    flex: 2;
   
}

.search-icon{
    font-size: 20px;
    color: var(--zomato-gray);
    margin: 0px 12px;
}

.search-input{
    border: none;
    outline: none;
    width: 60%;
    font-size:14px ;
}

.profile-wrapper{
     display: flex;
     justify-content: space-between;
     width: 15%;
     align-items: center;
}

.header-profile-image{
    height: 40px;
    width: 40px;
    border-radius:50% ;
}

.header-username{
    font-size: 16px;
    font-weight: 600;
}

.profile-options-icon{
    font-size: 20px;
}

.header {
  padding-top: 21px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: max-content;
  align-items: baseline;
  margin: 0 auto;
}

button.login {
  margin: 1rem 1rem 1rem 2rem
}

button > h1.signup {
  /* padding: 0; */
  margin: 1rem 0 1rem 1rem;
}

.header__image {
  width: 127px;
  height: 27px;
  margin-left: 15px;
  margin-top: 5px;
}

@media screen and (max-width: 900px) {
  .header {
    justify-content: center;
  }

  .header .loc-dropdown{
    margin-right: 1rem !important;
    margin-left: 1rem !important;
  }

  .header .search-bar {
    margin-left: 0;
    margin-right: 0;
  }

  .header .navbar {
    margin-right: 0;
  }
}

.locations-wrapper, .locations-wrapper > * {
  display: relative;
  z-index: 2;
}


@media screen and (max-width: 1025px) {
  button  {
    margin: 0 !important;
    text-align: center !important;
    align-self: center;
  }

  button > h1.signup {
    margin: 0 0 0.5rem 0;
  }
}

@media screen and (max-width: 768px) {
  .header {
    justify-content: space-between;
  }
}

@media screen and (max-width: 275px) {
  .header {
    justify-content: center;
    gap: 1rem;
    flex-direction: column !important;
    align-items: center;
  }

  .header__image, .navbar {
    text-align: center !important;
    margin: 0.25rem 0;
  }

  .loc-dropdown {
    display: none !important;
  }
}
